
Lab01/__pycache__/

Lab01/.idea/

Assignment1/data/

Assignment1/RI_assignment1.pdf

Assignment1/.idea/

.idea/

Assignment1/snowball_web_and_code/

Lab01/IR1_Overview.pdf

Lab01/IR2_BooleanRetrieval.pdf

Lab02/IR3_TextProcessing.pdf

Lab02/IR4_Indexing.pdf
